html body {
    margin: 0;
}

:root {
    --primary-color: #ff8c42;
    --primary-alt1: #fcaf58;
    --primary-alt2: #f9c784;
    --white: #fff;
    --secondary-color: #4e598c;
    --gray: #ebebeb;
    --dark-gray: #666;
}

.app {
    /* TODO(etsai) perspecti
    ve breaks the position fixed for the navigation icons */
    /* perspective: 1000px; */
}

#c {
    width: 100%;
    height: 100%;
}

.header-splash {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90% 10%;
    perspective: 500px;
}

@tailwind base;

@tailwind components;

@tailwind utilities;