.header-splash-title {
  font-size: 4.5rem;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 3rem;
  color: var(--white);
  text-shadow: 1px 1px var(--dark-gray);
}

.angle-down-icon {  
  width: 1.5rem;
  text-align: center;
  fill: var(--primary-alt1);

  animation: pulse;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  from {opacity: 100%}
  to {opacity: 25%;}
}
